<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        body {margin: 0; overflow: hidden;}
    </style>
    <script src="/vendor/pixi.js"></script>
    <script src="/vendor/gibber.lib.min.js"></script>
    <script src="/vendor/Pizzicato.min.js"></script>
</head>
  <body bgcolor="black">
      <div id="still"></div>
      <style>
        #still {
          width: 900px;
          height: 600px;
          background-color: #000;
          display: block;
          position: absolute;
          left: 512px;
          top: 140px;

          background-size: cover;
          background-position: top;
        }
      </style>
    </body>
</html>